img{
  border-radius: 6px;
  max-width: 200px;
}

.conteudo-div{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.list-comentarios{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 0.7em;
}