<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Amanda Malta</title>
  <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">
  {% block styled %}
    
  {% endblock %}
  <script src="https://kit.fontawesome.com/10a3c48e4c.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1 onclick='window.location.href="/"'>Amanda Malta</h1>
    <form action="/search" method="GET">
      <input type="text" placeholder="Digite sua pesquisa" name='search'>
      <input type="submit" value='Buscar'>
    </form>
  </header>
  {% block content %}

  {% endblock %}
</body>
</html>