{% extends 'base.html' %}

{% block styled %}
<link href="{{ url_for('static', filename='css/create.css') }}" rel='stylesheet'>
{% endblock %}

{% block content %}
<main>
  <h2>Crie Artigo</h2>
  <form action="/api/send" method="POST" class='crt' enctype="multipart/form-data">
    <input type="text" name='title' placeholder='Digite o título do artigo'>
    <input type='text' name='resumo' placeholder="Digite um resumo do artigo">
    <textarea name='body' placeholder='Digite o conteúdo do artigo'></textarea>
    <input type='file' name='img' id='img'>
    <input type='submit' value='Publicar Conteúdo'>
  </form>
</main>
{% endblock %}