{% extends 'base.html' %}

{% block styled %}
<link href="{{ url_for('static', filename='css/feed.css') }}" rel='stylesheet'>
{% endblock %}

{% block content %}
<main>
  <div class="list-artigos">
    {% for artigo in artigos %}
    <article class="artigo">
        <div class="image-container">
            <img src="../static/img/{{artigo.img}}" alt="Imagem do Artigo">
        </div>
        <a href="/artigos/{{artigo.id}}">{{artigo.title}}</a>
    </article>

    {% endfor %}
 
  </div>
</main>
{% endblock %}